@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Shared Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.btn-style {
  background-color: #ff900e;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  padding: 20px 24px;
  width: 180px;
  height: 64px;
}

.bg1 {
  background-color: rgba(255, 144, 14, 0.1);
}

.bg2 {
  background-color: #fff4e7;
}

.dark1 {
  color: #131313;
}
.dark2 {
  color: #424242;
}
.dark3 {
  color: #727272;
}

.orange {
  color: #ff900e;
}

/* Combaind width padding margin */
.navbar,
.hero,
#our-features,
#specialities,
#sponsors,
#copyright{
  width: 75%;
  margin: 0 auto;
  padding: 2% 0;
}

.hero,
.features-wrapper,
.specialities-wrapper,
.sponsor-wrapper {
  padding: 2.5% 0;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.hero .hero-description p,
.features-content p,
.sponsor-content p {
  text-align: center;
  line-height: 26px;
  font-size: 1rem;
  font-weight: 200;
  color: var(--dark3);
}

#header .navbar .nav-logo h2,
.features-content h2,
.specialities-content h2,
.sponsor-content h2 {
  font-size: 2.5rem;
  color: var(--dark1);
}

/* Indivisual Styles */

.navbar {
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  gap: 20px;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--dark2);
  font-size: 1.25rem;
  font-weight: 500;
}

.hero .hero-title h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: var(--dark1);
}

.hero .hero-banner img {
  width: 100%;
  padding: 1.5% 0 0;
}

#our-features {
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.features-content p {
  text-align: start;
  padding: 0 10% 0 0;
}

.features-content {
  gap: 25px;
  margin-left: 2.5%;
}

.features-imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: none;
  border-radius: 8px;
  gap: 25px;
}

.specialities-card {
  border: none;
  border-radius: 8px;
  gap: 9px;
  padding: 36px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.specialities-content p {
  margin: 20px 0;
}
.specialities-content {
  gap: 15px;
}

.specialities-img {
  padding-left: 80px;
  position: relative;
}

.badge {
  background-color: #ff900e;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  padding: 20px 24px;
  width: 342px;
  height: 200px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -100px;
  left: 20px;
  gap: 10px;
}

.sponsor-content{
  text-align: center;
  gap: 20px;
  margin-top: 50px;
}

.sponsor-imgs{
  gap: 50px;
  margin-top: 25px;
  filter: grayscale(100%);
}

.copyright-content{
  padding: 2.5% 2%;
  border: none;
  border-radius: 8%;
  text-align: center;
}